@import "tailwindcss";
body {
  background-color: #ffffff;
  scrollbar-width: none;
}

@font-face {
  font-family: "Graphik-Regular";
  src: url("/fonts/Graphik/Graphik-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Bold";
  src: url("/fonts/Graphik/Graphik-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Bold-Italic";
  src: url("/fonts/Graphik/Graphik-Bold-Italic") format("opentype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf") formar("truetype");
}

@theme {
  --color-text: #252b42;
  --color-Primary: #2091f9;
  --color-secondText: #374754;
  --color-firstText: #252b42;
  --font-Graphik: "Graphik-Regular";
  --font-GraphikBold: "Graphik-Bold";
  --font-GraphikBoldItalic: "Graphik-Bold-Italic";
  --font-RobotoBold : "Roboto-Bold"
  --breakpoint-xs: 25rem;
}
