@import "tailwindcss";
body {
  background-color: #ffffff;
}

@font-face {
  font-family: "Graphik-Regular";
  src: url("/fonts/Graphik/Graphic-Regular.otf") format("opentype");
}

@theme {
  --color-text: #252b42;
  --color-Primary: #2091f9;
  --font-Graphik: " Graphik-Regular";
  --breakpoint-xs: 25rem;
}
